<html>

<head>
  <title>Login Form</title>
</head>

<body>


  <form [formGroup]="loginForm" (ngSubmit)="loginform()">
    <div class="form">
      <label>
        First Name:
      </label>
      <br />
      <input class="imputfield" type="text" placeholder="First Name" formControlName="firstName">
      <div class="invalidity" *ngIf="loginForm.controls['firstName'].dirty && !loginForm.controls['firstName'].valid">Please
        Enter the First Name having at least two alphabets.</div>
      <br />
      <br />
      <label>
        Last Name:
      </label>
      <br />
      <input class="imputfield" type="text" placeholder="Last Name" formControlName="lastName">
      <div class="invalidity" *ngIf="loginForm.controls['lastName'].dirty && !loginForm.controls['lastName'].valid">Please
        Enter Valid Name having at least 4 alphabets</div>
      <br />
      <br />
      <label>
        Email Id:
      </label>
      <br />
      <input class="imputfield" type="text" placeholder="Email Id" formControlName="emailId">
      <div class="invalidity" *ngIf="loginForm.controls['emailId'].dirty && !loginForm.controls['emailId'].valid">Invalid
        Email</div>
      <br />
      <br />
      <label>
        Contact No.:
      </label>
      <br />
      <input class="imputfield" type="text" placeholder="Contact No." formControlName="phoneNo">
      <div class="invalidity" *ngIf="loginForm.controls['phoneNo'].dirty && !loginForm.controls['phoneNo'].valid">Enter
        10 digit Contact number</div>
      <br />
      <br />
      <label>
        Password:
      </label>
      <br />
      <input class="imputfield" [type]="pass" placeholder="Enter Password" formControlName="password" maxlength="16">
      <span class="fa fa-eye" *ngIf="loginForm.controls['password'].touched" (mouseup)="hidepass()" (mousedown)="showpass()"></span>
      <div class="invalidity" *ngIf="loginForm.controls['password'].dirty && !loginForm.controls['password'].valid">Contains
        at least min length 8 in which 1 digit, 1 uppercase, 1 lowercase and 1 special character</div>
      <br />
      <br />
      <label>
        Gender:
      </label>
      <br />
      <input class="imputfield" type="text" placeholder="Gender" formControlName="gender" maxlength="1">
      <div class="invalidity" *ngIf="loginForm.controls['gender'].touched && !loginForm.controls['gender'].valid">Enter
        gender as: M/F/O/m/f/o</div>
      <br />
      <br />
      <label>
        Emp Id:
      </label>
      <br />
      <input class="imputfield" type="text" placeholder="EMP ID" formControlName="empId">
      <div class="invalidity" *ngIf="loginForm.controls['empId'].touched && !loginForm.controls['empId'].valid">Enter
        Valid Employee id</div>
      <br />
      <br />
      <input type="submit" [disabled]="!loginForm.valid">
    </div>
  </form>
</body>

</html>
